<div class="breadcrumbs">
  <div class="container breadcrumbs__container">
    <ul class="list-reset breadcrumbs__list">
      <li class="breadcrumbs__list-item"><a class="link-reset breadcrumbs__list-link" href="/">Главная</a></li>
      <li class="breadcrumbs__list-item"><a class="link-reset breadcrumbs__list-link" href="/catalog.html">Каталог</a></li>
      <li class="breadcrumbs__list-item"><a class="link-reset breadcrumbs__list-link" href="#" >Диваны</a></li>
      <li class="breadcrumbs__list-item"><a class="link-reset breadcrumbs__list-link" href="#">Прямые диваны</a></li>
      <li class="breadcrumbs__list-item"><a class="link-reset breadcrumbs__list-link breadcrumbs__list-link_current">D-31</a></li>
    </ul>
  </div>
</div>
