<footer class="footer">
  <div class="footer__top">
    <div class="container footer__container">
      <div class="footer__left">
        <a class="link-reset logo footer__logo" href="/" aria-label="вернуться на главную страницу">
          <svg class="logo-icon"><use xlink:href="img/sprite.svg#svg--logo"></use></svg>
        </a>
        <ul class="list-reset footer__social-list">
          <li class="footer__social-list-item">
            <a class="footer__social-list-link" href="#" aria-label="мы в фейсбук">
              <svg class="footer__social-list-icon"><use xlink:href="img/sprite.svg#svg--fb"></use></svg>
            </a>
          </li>
          <li class="footer__social-list-item">
            <a class="footer__social-list-link" href="#" aria-label="мы в контакте">
              <svg class="footer__social-list-icon"><use xlink:href="img/sprite.svg#svg--vk"></use></svg>
            </a>
          </li>
          <li class="footer__social-list-item">
            <a class="footer__social-list-link" href="#" aria-label="мы в инстаграм">
              <svg class="footer__social-list-icon"><use xlink:href="img/sprite.svg#svg--insta"></use></svg>
            </a>
          </li>
        </ul>
      </div>
      <nav class="footer__nav">
        <ul class="list-reset footer__list">
          <li class="footer__list-item">
            <h3 class="footer__list-subheading">O нас</h3>
          </li>
          <li class="footer__list-item">
            <a class="link-reset footer__list-link" href="#">О компании</a>
          </li>
          <li class="footer__list-item">
            <a class="link-reset footer__list-link" href="#">Блог</a>
          </li>
        </ul>
        <ul class="list-reset footer__list">
          <li class="footer__list-item">
            <h3 class="footer__list-subheading">Услуги</h3>
          </li>
          <li class="footer__list-item">
            <a class="link-reset footer__list-link" href="#">Доставка</a>
          </li>
          <li class="footer__list-item">
            <a class="link-reset footer__list-link" href="#">Рассрочка и кредит</a>
          </li>
          <li class="footer__list-item">
            <a class="link-reset footer__list-link" href="#">Сборка и установка</a>
          </li>
        </ul>
        <ul class="list-reset footer__list">
          <li class="footer__list-item">
            <h3 class="footer__list-subheading">Связь с нами</h3>
          </li>
          <li class="footer__list-item">
            <a class="link-reset footer__list-link" href="#">Обратная связь</a>
          </li>
          <li class="footer__list-item">
            <a class="link-reset footer__list-link" href="#">Контакты</a>
          </li>
        </ul>
        <ul class="list-reset footer__list">
          <li class="footer__list-item">
            <h3 class="footer__list-subheading">Сотрудничество</h3>
          </li>
          <li class="footer__list-item">
            <a class="link-reset footer__list-link" href="/cooperations.html">Поставщикам</a>
          </li>
          <li class="footer__list-item">
            <a class="link-reset footer__list-link" href="#">Оптовикам</a>
          </li>
          <li class="footer__list-item">
            <a class="link-reset footer__list-link" href="#">Карьера</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="footer__bottom">
      <span class="footer__copyright">SDP&reg; 2011-2021</span>
  </div>
</footer>
