<header class="header">
  <div class="container header__container grid">
      <div class="header__left-block">
        <label class="header__region">
          <span class="prime-text">Ваш регион:</span>
          <select class="header__select" aria-label="Выберете ваш город">
            <option value="Москва">Казань</option>
            <option value="Москва">Уфа</option>
            <option value="Москва">Пермь</option>
          </select>
        </label>
        <a class="link-reset header__phone-link" href="tel:+74958854547" title="позвонить нам">+7 (495) 885-45-47</a>
      </div>
      <nav class="header__top-nav ">
        <ul class="list-reset header__top-nav-list">
          <li class="header__top-nav-list-item"><a class="link-reset header__top-nav-list-link is-focus" href="#">О компании</a></li>
          <li class="header__top-nav-list-item"><a class="link-reset header__top-nav-list-link is-focus" href="#">Гарантия и возврат</a></li>
          <li class="header__top-nav-list-item"><a class="link-reset header__top-nav-list-link is-focus" href="#">Корпоративным клиентам</a></li>
          <li class="header__top-nav-list-item"><a class="link-reset header__top-nav-list-link is-focus" href="#">Дизайн-решение</a> </li>
        </ul>
      </nav>
      <button class="btn-reset header__burger" aria-label="открыть меню">
        <span class="header__burger-line"></span>
      </button>
      <a class="link-reset logo header__logo" href="/" aria-label="логотип компании">
        <svg class="logo-icon"><use xlink:href="img/sprite.svg#svg--logo"></use></svg>
      </a>
      <div class="header__menu">
        <nav class="header__middle-nav">
          <ul class="list-reset header__bottom-nav-list">
            <li class="header__bottom-nav-list-item"><a class="link-reset prime-text header__bottom-nav-list-link is-focus" href="/catalog.html">Каталог</a></li>
            <li class="header__bottom-nav-list-item"><a class="link-reset prime-text header__bottom-nav-list-link is-focus" href="#">Магазины</a></li>
            <li class="header__bottom-nav-list-item"><a class="link-reset prime-text header__bottom-nav-list-link is-focus" href="#">Шоу-рум</a></li>
            <li class="header__bottom-nav-list-item"><a class="link-reset prime-text header__bottom-nav-list-link is-focus" href="#">Доставка и оплата</a></li>
            <li class="header__bottom-nav-list-item"><a class="link-reset prime-text header__bottom-nav-list-link is-focus" href="/card.html">Дисконт</a></li>
            <li class="header__bottom-nav-list-item"><a class="link-reset prime-text header__bottom-nav-list-link is-focus" href="#">Контакты</a></li>
          </ul>
        </nav>
        <nav class="header__top-nav-mobile">
          <ul class="list-reset header__top-nav-list">
            <li class="header__top-nav-list-item"><a class="link-reset header__top-nav-list-link is-focus" href="#">О компании</a></li>
            <li class="header__top-nav-list-item"><a class="link-reset header__top-nav-list-link is-focus" href="#">Гарантия и возврат</a></li>
            <li class="header__top-nav-list-item"><a class="link-reset header__top-nav-list-link is-focus" href="#">Корпоративным клиентам</a></li>
            <li class="header__top-nav-list-item"><a class="link-reset header__top-nav-list-link is-focus" href="#">Дизайн-решение</a> </li>
          </ul>
        </nav>
      </div>
      <form class="header__form">
        <div class="header__search-inner">
          <svg class="header__search-icon"><use xlink:href="img/sprite.svg#svg--search-icon"></use></svg>
          <input class="header__form-input" type="search" placeholder="Я хочу купить">
          <button class="btn-reset header__search-btn" aria-label="начать поиск товаров">
            <svg class="small-arrow-icon"><use xlink:href="img/sprite.svg#svg--arrow-icon"></use></svg>
          </button>
        </div>
      <select class="header__form-select" aria-label="выбрать вид мебели">
        <option value="Диваны">Диваны</option>
        <option value="Кресла">Кресла</option>
        <option value="Пуфы">Пуфы</option>
        <option value="Кровати">Кровати</option>
        <option value="Тумбы">Тумбы</option>
        <option value="Комоды">Комоды</option>
        <option value="Стулья">Стулья</option>
        <option value="Столы">Столы</option>
        <option value="Аксессуары">Аксессуары</option>
      </select>
      </form>
    <div class="header__user-block">
      <button class="btn-reset header__account" aria-label="Войти в личный кабинет">
        <svg class="header__user-icon"><use xlink:href="img/sprite.svg#svg--user-icon"></use></svg>
      </button>
      <button class="btn-reset header__basket" aria-label="Ваша корзина товаров">
        <svg class="header__basket-icon"><use xlink:href="img/sprite.svg#svg--basket-icon"></use></svg>
        <span class="header__basket-counter">0</span>
      </button>
    </div>
  </div>
</header>
