$black-color: #333;
$prime-subheading-font: 32px;
$purple-color: #A65CF0;
$purple-active: #7033AC;
$purple-focus: #C998FB;
$pink-violet: #EBD1FF;
$pink-light: #F8EFFF;
$white-color: #fff;
$orange-color: #FF862F;
$grey-color: #999;
$grey-light: #f7f7f7;
$grey-shade: #666;
$md-grey: #eaeaea;
$slider-subheading: 48px;
$slider-line-height: 65px;
$prime-font-size: 16px;
$specials-main-price: 18px;
$section-subheading: 32px;
$card-subheading: 24px;
$card-line-height: 130%;
$page-card-line-height: 180%;
$middle-font-size: 14px;
$card-font-size: 18px;
$radius: 10px;
$prime-line-height: 100%;
$secondary-line-height: 120%;
$menu-line-height: 22px;
$small-font-size: 10px;
$gap: 32px;

:root {
  --color-lime: #daffd1;
  --color-grey-md: #eaeaea;
  --color-bone: #fff5d1;
  --color-pink-violet: #ebd1ff;
  --color-semiblack: rgba(0, 0, 0, 0.2);
}

